<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252463349802-l362o58nark1t7hs40t7rikm0i7kpc2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252463349802-l362o58nark1t7hs40t7rikm0i7kpc2r</string>
	<key>API_KEY</key>
	<string>AIzaSyAm1PPYIgAus8P4hmJOXujz_ZCGkmna7PU</string>
	<key>GCM_SENDER_ID</key>
	<string>252463349802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projetc.ios</string>
	<key>PROJECT_ID</key>
	<string>myworking-ebc87</string>
	<key>STORAGE_BUCKET</key>
	<string>myworking-ebc87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252463349802:ios:da1c8978a3c9a59c05c353</string>
</dict>
</plist>